<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <p>
        Copyright coming from "FOOTER.EJS" file (👈 This is the EJS tag which
        get data from some other ejs file)
      </p>
    </footer>
  </body>
</html>
